@import "compass/reset/utilities";
@import "compass/css3/border-radius";
body{
  background:rgba(255,0,0,0.3);
}
$top:5px;
.counter{
  width:40px;
  height:40px;
  position: absolute;
  left:50%;
  margin-left:-20px;
  top:10%;
}
#container{
  list-style: none;
  position:relative;
  li{
    position: relative;
    left:0;
    float:left;

  }
}
#btn-group{
  .button{
    display:inline-block;
    float:left;
    width:50px;
    height:50px;
    text-align:center;
    text-decoration: none;
    background:#ffffff;
    margin:20px;
    position:relative;
    line-height:50px;
  }
  .btn-sonar{
    @include border-radius(50%);
    &::before{
      opacity: 0;
      content:"";
      width:70px;
      height:70px;
      position: absolute;
      top:50%;
      left:50%;
      margin:-35px 0 0 -35px;
      border:4px solid rgba(255,255,255,0.5);
      @include border-radius(50%);
    }
  }
  .active {
    &::before{
      animation:btnAnimation 1s ease-out forwards;
      -webkit-webit-animation: btnAnimation 1s ease-out forwards;
      -moz-webit-animation: btnAnimation 1s ease-out forwards;
      -ms-webit-animation: btnAnimation 1s ease-out forwards;
      -o-webit-animation: btnAnimation 1s ease-out forwards;
    }
  }
}
@-webkit-keyframes btnAnimation {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
  }
}
